body {
    background: #ffffff;
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    .box_side {
        background-color: #f6f6fc;
        border-top-left-radius: 35px;
        padding: 30px;
        height: 90%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}